</body>
<footer class="footer">
	<div class="container">
		<p class="authors">
			Created by <a href="https://twitter.com/pbernasconi"> @ Paolo Bernasconi</a>
		</p>

			<a href="/docs/#license">MIT</a>. Docs under <a href="https://tldrlegal.com/license/apache-license-2.0-(apache-2.0)">Apache 2</a>.

		<nav class="base-links">
			<a href="/docs/">Docs</a>
			&#183; <a href="/blog/">Blog</a>
			&#183; <a href="/present-ionic/">Present Ionic</a>
			&#183; <a href="http://forum.ionicframework.com/">Forum</a>
			&#183; <a href="/contribute/">Contribute</a>
			&#183; <a href="http://ionicons.com/">Ionicons</a>
			&#183; <a href="https://github.com/driftyco/ionic">Github</a>
			&#183; <a href="/contribute/#issues">Issues</a>
			&#183; <a href="/jobs/">Jobs</a>
		</nav>
	</div>
</footer>