<div class="container content-container">
	<div class="row docs-row">
		<div class="col-md-2 col-sm-3 aside-menu">
			<div class="docked-menu" id="sidebar">

				<ul class="nav left-menu">
					<li class="menu-title"><a href="{{ site.baseurl }}/software/overview.html">Overview</a></li>
				</ul>


				<ul class="nav left-menu">
					<li class="menu-title"><a href="{{ site.baseurl }}/software/install.html">Install</a></li>

					<li><a href="#libraries">Python Libraries</a></li>
					<li><a href="#github">Github</a></li>
				</ul>



				<ul class="nav left-menu">
					<li class="menu-title"><a href="{{ site.baseurl }}/software/code.html">Source Code</a></li>
					<li><a href="#read">Read RFID</a></li>
					<li><a href="#led">LED</a></li>
					<li><a href="#check">Check</a></li>
					<li><a href="#classes">Classes</a>
						<ul>
							<li><a href="#class-log-entry">Log in DB</a></li>
							<li><a href="#class-search-db">Search DB</a></li>
							<li><a href="#class-log-error">Full Width</a></li>
						</ul>
					</li>
				</ul>



				<ul class="nav left-menu">
					<li class="menu-title">
						<a href="{{ site.baseurl }}/software/compile.html">Compile</a>
					</li>
				</ul>

			</div>
		</div>