<div class="well span2">
    <legend>Permisos</legend>
    <div class="row" ui-view style="padding-left:20px"></div>
    <hr>
</div>

<div class="row well span9">
    <angular-table model="Permisos" default-sort-column="persona" class="demoTable" style="padding-bottom:1px">
        <header-row>
            <header-column sortable="true" sort-field-name="persona" class="demoHeaderColumn">
                <div class="demoHeaderText">Persona</div>
                <sort-arrow-ascending></sort-arrow-ascending>
                <sort-arrow-descending></sort-arrow-descending>
            </header-column>
            <header-column sortable="true" sort-field-name="tarjeta_RFID" class="demoHeaderColumn">
                <div class="demoHeaderText">Tarjeta RFID</div>
                <sort-arrow-ascending></sort-arrow-ascending>
                <sort-arrow-descending></sort-arrow-descending>
            </header-column>
            <header-column width='60px' align='center' sortable="false" sort-field-name="permiso" class="demoHeaderColumn">Acceso</header-column>
            <header-column width='60px' align='center' sortable="false" sort-field-name="persona_PIN" class="demoHeaderColumn">PIN
            </header-column>
            <header-column align='center' sortable="false" sort-field-name="noche_inicio" class="demoHeaderColumn">Noche inicio
            </header-column>
            <header-column align='center' sortable="false" sort-field-name="noche_fin" class="demoHeaderColumn">Noche fin
            </header-column>
            <header-column align='center' sortable="false" sort-field-name="fecha_vencida" class="demoHeaderColumn">Fecha Vencida
            </header-column>
        </header-row>

        <row on-selected="handleRowSelection(row)" selected-color="#87cefa" even-color="#ffffff" odd-color="#eeeeee">
            <column width='120px'>{{ row.persona }}</column>
            <column>{{ row.tarjeta_RFID }}</column>
            <column width='60px' align='center'>{{ row.test }}</column>
            <column width='60px' align='center'>{{ row.persona_PIN }}</column>
            <column align='center'>{{ row.noche_inicio }}</column>
            <column align='center'>{{ row.noche_fin }}</column>
            <column align='center' style="font-size:9">{{ row.fecha_vencida }}</column>
        </row>
    </angular-table>
    <div class="row">
        <div class="span2">
            </br>
            <select ng-model="pages.maxDisplayRecords" ng-options="item.id as item.name for item in pages.list"
                    ng-click="update()" class="span2"></select>
        </div>
        <div class="span6">
            <pagination rotate="false" num-pages="pages.maxDisplayPages" current-page="pages.currentPage"
                        max-size="pages.maxSize" class="pagination-small" boundary-links="true"
                        previous-text="pages.prevText" next-text="pages.nextText" first-text="pages.firstText" last-text="pages.lastText">
            </pagination>
        </div>
    </div>
</div>
